<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SigninServlet</servlet-name>
        <servlet-class>Controller.SigninServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductServlet</servlet-name>
        <servlet-class>Controller.ListProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>Controller.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignoutServlet</servlet-name>
        <servlet-class>Controller.SignoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatAccountServlet</servlet-name>
        <servlet-class>Controller.CreatAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartsServlet</servlet-name>
        <servlet-class>Controller.CartsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager</servlet-name>
        <servlet-class>Controller.UserManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileAccount</servlet-name>
        <servlet-class>Controller.ProfileAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagerSevlet</servlet-name>
        <servlet-class>Controller.OrderManagerSevlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SigninServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductServlet</servlet-name>
        <url-pattern>/listProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignoutServlet</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatAccountServlet</servlet-name>
        <url-pattern>/creatAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartsServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager</servlet-name>
        <url-pattern>/UserManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileAccount</servlet-name>
        <url-pattern>/ProfileAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagerSevlet</servlet-name>
        <url-pattern>/ordermanager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
